.myprocess{
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    align-items: center;
    min-height: 45vh;
    background: url(../../../images/wave.png) no-repeat #F2F2F2 center;
    width: 90vw;
    padding: 6rem;
    position: relative;
    overflow: hidden;
}


.backgroundSection{
    position: absolute;
    right: 0;
    height: auto;
    width: 35%;
    overflow: hidden;
    z-index: 2;
    bottom: 0;
}

.backgroundSection img{
    height: 100% !important;
    bottom: 0 !important;
    
}

.aboutHeader{
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.fields{
    padding: 1rem 1rem;
}

.fields h1{
    font-size: 4rem;
}

.fields p{
    color: #C1C1C1;
    
}

.rotatedField{
    bottom: -5rem;
}

.rotate{
    transform: rotate(90deg);
    position: absolute;
    font-size: 6rem !important;
    top: -5rem;
}

