.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15vh 0;
    -webkit-align-items: center;
    justify-content: space-around;
    align-items: center;
    min-height: 65vh;
    background: url(../../images/waveBottom.png) no-repeat #F2F2F2 bottom;
}

.aboutHeader{
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.fields{
    padding: 1rem 1rem;
}

.fields h1{
    font-size: 4rem;
}


@media only screen and (max-width: 770px){
    .fields h1{
        font-size: 3rem;
    }   
}

.fields p{
    color: #C1C1C1;
    
}

.rotatedField{
    bottom: -5rem;
}

.rotate{
    transform: rotate(90deg);
    position: absolute;
    font-size: 6rem !important;
    top: -5rem;
    margin-left: 0.5rem;
}


@media only screen and (max-width: 770px){
    .rotate{
        font-size: 5rem !important;
        top: -4rem;
    }
    .rotatedField{
        bottom: -4rem;
    }
}
