.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12vh 0;
    -webkit-align-items: center;
    justify-content: space-around;
    align-items: center;
    min-height: 62vh;
    background: url(../../images/waveBottom.png) no-repeat #F2F2F2 bottom;
}

.aboutHeader{
    letter-spacing: 0.1rem;
    font-weight: 600;
    line-height: 2.3rem;
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
    padding: 0;
}

.fields{
    padding: 1rem 1rem;
}

.fields h1{
    font-size: 4rem;
    font-weight: 600;
}


@media only screen and (max-width: 770px){
    .fields h1{
        font-size: 2rem;
    }   
}

.fields p{
    color: #C1C1C1;
    letter-spacing: 0.06rem;
    font-size: 0.8rem;
}

.rotatedField{
    bottom: -5rem;
}

.rotate{
    transform: rotate(90deg);
    position: absolute;
    font-size: 6rem !important;
    top: -5rem;
    margin-left: 0.5rem;
}


@media only screen and (max-width: 770px){
    .about{
        padding: 10vh 0;
        -webkit-align-items: center;
        align-items: center;
    }
    .rotate {
        font-size: 4.5rem !important;
        font-weight: 300 !important;
        top: -3.5rem;
        left: 38%;
        transform: translateX(-50%) !important;
        transform: rotate(90deg) !important;
    }
    .rotatedField{
        bottom: -3rem;
    }
    .fields{
        text-align: center;
    }
}
