.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    align-items: center;
    min-height: 24rem;
    background: url(../images/wave.png) no-repeat #F2F2F2 center;
    width: 90vw;
    padding: 6rem;
    position: relative;
    overflow: hidden;
    right: -10vw;
    text-align: right;
}

.footerBottom{
    min-height: 24rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerContent h4{
    margin-bottom: 3.6rem;
}

.calltoActions{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.calltoActions a{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    color: #272727;
    
}
.calltoActions a:nth-child(1){
    margin-bottom: 3rem;
}

.calltoActions a:hover{
    color: #272727;
    text-decoration: none;
    
}


.backgroundSection{
    position: absolute;
    right: 0;
    height: auto;
    width: 35%;
    overflow: hidden;
    z-index: 2;
    bottom: 0;
}

.backgroundSection img{
    height: 100% !important;
    bottom: 0 !important;
    
}

.footerHeader{
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.socialLinks{
    display: flex;
    justify-content: flex-end;
}

.socialLinks img{
    margin-left: 3rem;
    width: 2.3rem;
}

