@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body{
  margin: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling:touch;
}

.overflowHide{
  overflow: hidden;
}



h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #272727;
}
p{
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
  font-weight: light;
}
.getinTouch{
    background: transparent;
    color: black;
    outline: none;
    border: 0.1rem solid #20e3f5;
    font-size: 0.6rem;
    padding: 0.4rem 0.8rem;
    letter-spacing: -0.01rem;
    margin-top: 1.9rem;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.getinTouch a{
  color: #272727 !important;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
}

.getinTouch a:hover{
  text-decoration: none;
  color: #fff !important;
}

.getinTouch:hover a{
  text-decoration: none;
  color: #fff !important;
}
.getinTouch:hover{
    background: #20e3f5;
    color: #fff !important;
    outline: none;
    border: 0.1rem solid #20e3f5;
    transform: scale(1.1);
}







.btnS{
  font-size: 0.6rem;
  letter-spacing: 0.01rem;
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  color: #272727 !important;
  font-weight: bold;
  padding: 0.6rem 0.7rem;
  margin-top: 1.7rem;
  width: 6.5rem;
  justify-content: center;
  align-items: center;
}



.arrow{
  transform: rotate(90deg);
  color: #20e3f5;
}


.default-background{
   background-position: right !important;
   background-repeat: no-repeat !important;
   background-size: auto 100% !important;
}



